<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    @{
        IgnoreSection("Footer");


    }
    <table border="1">
        <tr>
            <td colspan="2">
                <h3> @RenderSection("Header",true) </h3>
            </td>
           

        </tr>
        <tr>
            <td width="25%">
               
            </td>
            <td>
                @RenderBody();


            </td>

        </tr>

    </table>



    <h1 > In Layout root </h1>

    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    

    @if (IsSectionDefined("Scripts"))
    {
        @: @RenderSection("Scripts")
    }
    else
    {
   
        <script>
            $("h1").css("background-color", "cornflowerblue")</script>

    
    
    }
    


</body>
</html>
